<div class="col-12">
  <div class="d-flex flex-column ">
    <img class="col-6 offset-3" src="https://auamplifonassets.blob.core.windows.net/prodimages/{{product.supplierCode}}/{{product.productCode}}.jpg" alt="">
    <h4 class="medium pr-1">{{product.productDescription}}</h4>
    <h4 class="medium pr-1 red">{{product.sideDescription}} EAR</h4>
  </div>
  <div class="d-flex flex-row mt-2">
    <svg-icon
    class="xs p-0"
    src="../../../../assets/img/svg/battery.svg "
  ></svg-icon>
    <h4 class="grey light d-inline-block pl-2"> Battery 312</h4>
  </div>
  <div class="d-flex flex-row mt-2">
    <svg-icon
    class="xs p-0"
    src="../../../../assets/img/svg/pulse_2.svg "
  ></svg-icon>
    <h4 class="grey light d-inline-block pl-2"> OHS 2018-Jan-15</h4>
  </div>
  <!-- <div>
    <h4 class="medium d-inline-blockmt-2">ICon</h4>
    text
    <span style="cursor: pointer;" class="d-inline-block ml-2"><img src="../../../assets/img/svg/info-icon.svg"
        style="height: 20px; width: auto;" /></span>
  </div> -->
</div>
