<div class="d-flex flex-row"><div>
    <svg-icon class="xs mx-2" src="../../../../assets/img/svg/filter.svg"></svg-icon>
    <a>FILTER: SELECT TYPE
      <svg-icon class="xs mx-1 arrow" src="../../../../assets/img/svg/chevron-arrow-dx.svg" [applyCss]="true"></svg-icon>
    </a>
</div>
<div>
    <svg-icon class="xs mx-2" src="../../../../assets/img/svg/filter.svg"></svg-icon>
    <a> FILTER: SELECT AGENT
      <svg-icon class="xs mx-1 arrow" src="../../../../assets/img/svg/chevron-arrow-dx.svg" [applyCss]="true"></svg-icon>
    </a>
</div>
</div>
