.bg-custom {
  background-color: #F8F9FA;
}

.blue-border-left {
  border-left: 3px solid royalblue;
}

.flex-center-util {
  display: flex;
    flex-flow: column;
    justify-items: center;
    justify-content: center;
}

.badge {
  font-weight: 500;
}