fcw-notes {
  width: 100%;
}

div.main-header {
  height: 3.5rem;
  border-bottom: 1px solid #eeeeee;
}

.main-title {
  margin-top: auto;
  margin-bottom: auto;
}

div.main-content{
  height: calc(100vh - 12rem);
}

button{
  outline: 0;
}

.mx-6 {
  margin-left: 4rem !important;
}
.fake-content {
  min-height: 600px;
}
